/**
 * Common Styles
 */
body {
  background-color: #fff;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding-top: 70px;
}
