/**
 * Footer Styles
 */
footer {
  &.well {
    margin: 0;
    text-align: center;

    .border-radius(0);
  }

  ul {
    margin-bottom: 30px;

    li {
      display: inline;
      margin: 0 10px 0; 

      a {
        &:hover {
          text-decoration: none;
        }
      }
    } 
  }

}
