/**
 * Icons
 */
[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  line-height: 16px;
  vertical-align: baseline;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
}

.icons-user {
    background-position: 0 0;
}

.icons-cake {
    background-position: 0 -17px;
    width: 14px;
}

.icons-globe {
    background-position: -32px -17px;
}   
    
.icons-envelope {
    background-position: -15px -22px;
    height: 11px;
}   
    
.icons-ln {
    background-position: 0 -35px;
}   

.icons-skype {
    background-position: -27px -35px;
}   
    
.icons-tw { 
    background-position: 0 -60px;
}

.icons-gh {
    background-position: -27px -60px;
}
