/**
 * Some Works
 */
.some-works {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    border: 1px solid @border-color;
    display: inline-block;
    margin: 5px;

    .transition(border, 0.5s);
    .border-radius(2px);

    &:hover {
      border-color: @main-color;
    }
  }

}
