/**
 * Variables
 */

/** Colors */
@main-color: #39c;
@secondary-color: #555;
@clean-color: #fff;
@hover-text: #999;
@dark-bkg: #ababab;
@nav-bkg: #f5f5f5;
@dark-grey: #333;
@black: #000;
@hover-blue: #9ECEE6;

/** Shadows */
@no-text-shadow: 0 0 0 transparent;
@no-box-shadow: 0 0 0 transparent;

/** Font Sizes */
@big-font: 55px;
@medium-font: 23px;
@standard-font: 16px;
@main-font: 15px; 
@title-font: 28px;
