/**
 * Test
 */
/**
 * Common Styles
 */
body {
  background-color: #fff;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding-top: 70px;
}
/**
 * Test
 */
.iconsTest a {
  color: red;
}
/**
 * Menu styles - Main navigation
 */
/** All Devices **/
.navbar,
.navbar .container {
  margin: 0 auto;
}
/** Medium Devices (Desktops) */
@media (min-width: 992px) {
  .navbar,
  .navbar .container {
    width: 960px;
  }
}
/** Small Devices (Tablets) */
@media (max-width: 991px) {
  .navbar,
  .container {
    width: 90%;
  }
}
