/**
 * Test
 */
/**
 * Variables
 */
/** Colors */
/** Shadows */
/**
 * Common Styles
 */
body {
  background-color: #fff;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding-top: 70px;
}
/**
 * Test
 */
.iconsTest a {
  color: red;
}
/**
 * Menu styles - Main navigation
 */
/** All Devices **/
.navbar,
.navbar .container {
  margin: 0 auto;
}
.main-nav {
  background-color: #3399cc;
  border-radius: 0 0 10px 10px;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.main-nav .nav li a,
.main-nav .navbar-brand {
  color: #ffffff;
  text-shadow: 0 0 0 transparent;
}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus {
  background: #297aa3;
}
/** Medium Devices (Desktops) */
@media (min-width: 992px) {
  .navbar,
  .navbar .container {
    width: 960px;
  }
}
/** Small Devices (Tablets) */
@media (max-width: 991px) {
  .navbar,
  .container {
    width: 90%;
  }
  .navbar-collapse {
    box-shadow: 0 0 0 transparent;
    border-top: 1px solid #ffffff;
  }
}
