/**
 * Test
 *
 * Extra small devices Phones (<768px)
 * Small devices Tablets (≥768px)
 * Medium devices Desktops (≥992px)
 * Large devices Desktops (≥1200px)
 */
/**
 * Variables
 *
 * TODO: Improve color names
 */
/** Colors */
/** Shadows */
/** Font Sizes */
/**
 * Mixins
 */
/**
 * Common Styles
 */
body {
  background-color: #fff;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.coloured-text {
  color: #3399cc;
  display: block;
}
.block-title {
  color: #333333;
  font-size: 28px;
  line-height: 50px;
  padding-left: 0;
  text-align: right;
}
.content-divider {
  border-left: 4px solid #333333;
  padding-left: 10px;
}
.col-md-12 {
  margin-bottom: 60px;
}
dt em {
  display: block;
  font-weight: 400;
}
dd {
  line-height: 30px;
  margin-bottom: 15px;
}
em {
  color: #999999;
}
.glyphicon {
  color: #000000;
  margin-right: 5px;
}
/** Small Devices (Tablets and Mobiles) */
@media only screen and (max-width: 991px) {
  .block-title {
    border-bottom: 4px solid #333333;
    margin-bottom: 15px;
    text-align: center;
  }
  .content-divider {
    border: 0;
  }
  .coloured-text {
    display: inline;
  }
  .col-md-12 {
    margin-bottom: 40px;
  }
}
/** Medium Devices (Desktops) */
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/** Large Devices (Desktops) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
/**
 * Icons
 */
[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  line-height: 16px;
  vertical-align: baseline;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
}
.icons-user {
  background-position: 0 0;
}
.icons-cake {
  background-position: 0 -17px;
  width: 14px;
}
.icons-globe {
  background-position: -32px -17px;
}
.icons-envelope {
  background-position: -15px -22px;
  height: 11px;
}
.icons-ln {
  background-position: 0 -35px;
}
.icons-skype {
  background-position: -27px -35px;
}
.icons-tw {
  background-position: 0 -60px;
}
.icons-gh {
  background-position: -27px -60px;
}
/**
 * Menu styles - Main navigation
 */
/** All Devices **/
.navbar,
.navbar .container {
  margin: 0 auto;
}
.main-nav {
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  min-height: 30px;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #555555;
}
.main-nav .nav li a,
.main-nav .navbar-brand {
  color: #555555;
  text-shadow: 0 0 0 transparent;
  white-space: nowrap;
}
.main-nav .nav > li > a {
  padding: 10px 5px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus {
  background: transparent;
}
/** Medium Devices (Desktops) */
@media only screen and (min-width: 992px) {
  .navbar,
  .navbar .container {
    width: 960px;
  }
  .nav-justified {
    margin: 0 auto;
    width: 85%;
  }
}
/** Small Devices (Tablets and Mobiles) */
@media only screen and (max-width: 991px) {
  .navbar,
  .navbar .container {
    width: 95%;
  }
}
/** Tablets and Desktops */
@media only screen and (min-width: 768px) {
  .main-nav .nav > li > a:hover,
  .main-nav .nav > li > a:focus {
    color: #999999;
    border-top: 3px solid #3399cc;
    text-shadow: 0 0 10px #ffffff;
    padding: 7px 5px 8px;
  }
}
/** Extra Small Devices (Mobiles) */
@media only screen and (max-width: 767px) {
  .navbar-collapse {
    box-shadow: 0 0 0 transparent;
    border-top: 1px solid #555555;
  }
  .main-nav .nav > li > a:hover,
  .main-nav .nav > li > a:focus {
    color: #ffffff;
    background: #555555;
  }
}
/**
 * Jumbotron Styles
 */
/** Stack image **/
.stack {
  position: relative;
  z-index: 10;
}
.stack img {
  border: 5px solid #ffffff;
  height: 130px;
  width: 130px;
  vertical-align: bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.stack img:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.stack:before {
  background-color: #333333;
  border: 5px solid #ffffff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
/** Jumbotron (Hero unit) */
.jumbotron {
  background-color: #3399cc;
  margin-bottom: 60px;
  padding-top: 90px;
  padding-bottom: 40px;
}
.jumbotron h1 {
  color: #ffffff;
  font-size: 55px;
  margin-top: 0;
}
.jumbotron h1 small {
  color: #ffffff;
  font-size: 23px;
}
/** Extra small devices (Phones) */
@media only screen and (max-width: 767px) {
  .jumbotron .container {
    padding: 0;
  }
  .jumbotron h1 {
    line-height: 48px;
  }
  .jumbotron h1 small {
    margin-top: 10px;
  }
  .jumbotron p {
    font-size: 16px;
  }
}
/** Small Devices (Tablets and Mobiles) */
@media only screen and (max-width: 991px) {
  .jumbotron {
    margin-bottom: 40px;
    padding-top: 65px;
    padding-bottom: 15px;
    text-align: center;
  }
  .jumbotron h1 small {
    display: block;
  }
}
/**
 * Social
 */
#social {
  padding: 0;
}
#social ul {
  padding: 0;
}
#social li {
  float: left;
  list-style-type: none;
  margin: 0 5px 5px 0;
  padding: 0;
  width: 49%;
}
#social li:nth-child(2n) {
  margin-right: 0;
}
#social li a {
  background-color: #f5f5f5;
  color: #555555;
  display: block;
  left: 0;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -ms-transition: all ease 1s;
  transition: all ease 1s;
}
#social li a:hover {
  background-color: #9ecee6;
  color: #000000;
}
#social [class^="icons-"],
#social [class*="icons-"] {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
/** Extra Small Devices (Phones) */
@media only screen and (max-width: 520px) {
  .info {
    margin-bottom: 15px;
    width: 100%;
  }
  #social {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #social li {
    margin: 0 0 5px;
    line-height: 18px;
    width: 100%;
  }
  #social li a {
    padding: 5px;
  }
}
/**
 * Some Works
 */
.some-works {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.some-works li {
  border: 1px solid #cccccc;
  display: inline-block;
  margin: 5px;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  -ms-transition: border 0.5s;
  transition: border 0.5s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.some-works li:hover {
  border-color: #3399cc;
}
.some-works li img {
  height: 91px;
  width: 210px;
}
/**
 * Footer Styles
 */
footer.well {
  margin: 0;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
footer ul {
  margin-bottom: 30px;
  padding: 0;
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: #ffffff;
}
footer ul li a:hover {
  color: #f5f5f5;
  text-decoration: none;
  -webkit-text-shadow: 0 0 3px #000000;
  -moz-text-shadow: 0 0 3px #000000;
  text-shadow: 0 0 3px #000000;
}
/**
 * Print Styles
 */
@media print {
  /** Common */
  a[href]:after {
    content: none !important;
  }
  .block-title {
    text-align: left;
  }
  .block-title .coloured-text {
    display: inline;
  }
  /** Jumbotron */
  .jumbotron {
    margin-bottom: 10px;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
  .jumbotron h1 small {
    font-size: 16px;
  }
  .jumbotron p {
    font-size: 15px;
  }
  /** About me */
  #social li a i {
    display: none !important;
  }
}
